@import '../components/header.css';

.form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 3rem;
    margin-bottom: 2rem;
}

input, textarea {
    border: 0;
    outline: 0;
}

textarea {
    font-size: 2rem;
}