@import '../components/header.css';

.account-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #a2a2a2;
}

.account-header, .account-info {
    flex-direction: column;
}

.account-profile {
    width: 9rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.account-profile img {
    width: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}

.account-name {
    margin-top: 1rem;
    font-family: var(--font-dana-bold);
}

.account-follower {
    margin-top: 5px;
    gap: 5rem;
    font-family: var(--font-dana-bold);
}

.account-follower h5 {
    cursor: pointer;
}

.account-action {
    margin-top: 2rem;
}

.account-action__settings, .account-action__follow {
    padding-block: 7.5px;
    width: 22rem;
    text-align: center;
    border-radius: 20px;
    font-family: var(--font-byekan-v4-semibold);
}

.account-action__settings {
    border: 2px solid rgb(63, 63, 70);
}

.account-action__follow {
    display: none;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.account-social {
    margin-top: 1.6rem;
    gap: 2rem;
}

.acoount-tab {
    margin-top: 1rem;
    gap: 3rem;
}

.account-tab__item {
    font-size: 1.8rem;
    font-weight: 600;
}

.account-tab__item.account-tab__item--active {
    position: relative;
    color: var(--secondary-color);
}

.account-tab__item.account-tab__item--active::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -1rem;
    width: 80%;
    height: 2px;
    transform: translateX(-10%);
    background: var(--secondary-color);
}

.tabs {
    margin-top: 4rem;
}

.tab-item {
    display: none;
}

.tab-item.tab-item--active {
    display: flex;
}

.followers-head {
    display: flex;
    background-color: rgba(238, 238, 238, 0.75);
    border-bottom: 1px solid #a2a2a2;
    gap: 3rem;
}

.followers-head__item {
    flex-grow: 1;
    text-align: center;
    padding: 2rem 1rem;
    cursor: pointer;
}

.followers-head__item.followers-head__item--active {
    background-color: #205E8A;
    color: white;
}

.followers-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5rem;
    overflow-y: auto;
    height: 100%;
}

.follower-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower-item__right {
    gap: 1rem;
}

.follower-item__profile {
    aspect-ratio: 1 / 1;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.follower-item__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follower-item__unfollow {
    display: inline-block;
    color: #205E8A;
    border: 1px solid #205E8A;
    width: 12.5rem;
    padding-block: 5px;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
}