@import "../components/header.css";


.header__panel {
    display: block;
}

/* Main */

.main {
    margin-top: 2rem;
    gap: 5rem;
}

.forms {
    flex: 1;
}

.form-title {
    width: 100%;
    border-bottom: 1px solid #a2a2a2;
}

/* Aside */

.aside {
    display: none;
    position: sticky;
    top: 0;
    flex-basis: 18rem;
}

.settings {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings__link {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .aside {
        display: block;
    }
}