:root {
    /* fonts */
    --font-byekan-v3-regular: BYekan-v3-regular;
    --font-byekan-v3-medium: BYekan-v3-medium;
    --font-byekan-v3-bold: BYekan-v3-bold;
    --font-byekan-v3-fat: BYekan-v3-fat;
    --font-byekan-v4-regular: BYekan-v4-regular;
    --font-byekan-v4-semibold: BYekan-v4-semibold;
    --font-byekan-v4-bold: BYekan-v4-bold;
    --font-byekan-v4-black: BYekan-v4-black;
    --font-dana-bold: dana-bold;
    --font-dana-demibold: dana-demibold;
    /* colors */
    --primary-color: #205E8A;
    --secondary-color: #1c78b9;
}
