@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Fonts */
    /* Iran Yekan */
    @font-face {
        font-family: "IRANYekanWebThin";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebThin.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebRegular";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebRegular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebMedium";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebMedium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebLight";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebLight.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebExtraBold";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebExtraBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebExtraBlack";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebExtraBlack.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebBold";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "IRANYekanWebBlack";
        src:
            local("Iran Yekan"),
            url("/public/fonts/IranYekan/IRANYekanWebBlack.woff2") format("woff2");
        font-display: swap;
    }

    /* Dana */
    @font-face {
        font-family: "dana-bold"; /* 800 */
        src:
            local("dana-bold"),
            url("/public/fonts/dana/Dana-Bold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "dana-demibold"; /* 800 */
        src:
            local("dana-demibold"),
            url("/public/fonts/dana/Dana-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    body {
        @apply font-IRYekanRegular;
    }
}

@layer components {
    .dropdown-border {
        @apply border-b border-gray-300 p-3;
    }

    .btn {
        @apply cursor-pointer rounded-md bg-blue-500 px-6 py-2 text-white transition-colors duration-200 ease-in-out hover:bg-blue-700;
    }

    .input {
        @apply w-full rounded-full border-none px-6 py-2 shadow-drop outline-none sm:w-96;
    }

    .post__badge {
        @apply rounded-full bg-slate-100 px-2.5 py-0.5 font-IRYekanBold text-xs;
    }

    .box__title {
        @apply font-IRYekanBold text-lg;
    }

    .post__body {
        @apply mb-10;
    }

    .post__body * {
        @apply mt-4 inline-block;
    }

    .post__body h1 {
        @apply mt-8 text-lg;
    }

    .post__body p {
        @apply text-justify;
    }

    .profile__btn {
        @apply w-60 rounded-full border-2 py-2 text-center transition-colors;
    }

    .profile__tab {
        @apply border-b-2 border-transparent pb-1 text-gray-500 transition-all ease-linear;
    }

    .profile__tab.active {
        @apply border-b-2 border-black text-black;
    }

    .settings {
        @apply mt-10 grid grid-cols-1 gap-1;
    }

    .settings .item {
        @apply cursor-pointer rounded-r-full py-2 pr-5 text-xl text-[#a2a2a2] transition-colors ease-linear;
    }

    .settings .item.active {
        @apply bg-blue-500 text-white;
    }

    .tabs {
        @apply flex gap-5 border-b text-gray-500;
    }

    .tab {
        @apply flex gap-3 p-2;
    }

    .tabs .tab.active {
        @apply border-b border-black text-black transition-colors duration-500 ease-linear;
    }

    .tabs {
        @apply fixed bottom-0 left-0 right-0 h-fit basis-52 flex-row  gap-5 rounded-xl border-2 bg-slate-50/80 p-5 xl:sticky xl:top-0 xl:flex xl:flex-col;
    }

    .admin__nav__tab {
        @apply flex flex-1 justify-center gap-3 p-0.5 xl:justify-start;
    }

    .tabs .admin__nav__tab.active {
        @apply relative text-blue-500 transition-colors;
    }

    .tabs .admin__nav__tab.active::after {
        @apply absolute left-0 top-2/4 hidden h-2 w-2 -translate-y-2/4 rounded-full bg-blue-500 content-[''] xl:inline-block;
    }

    .admin__nav__tab--text {
        @apply hidden xl:block;
    }

    .admin__nav__tab--icon {
        @apply inline-block xl:hidden;
    }

    .form__btn {
        @apply flex items-center rounded-md px-6 py-1.5  transition-colors;
    }

    .otp__number {
        @apply h-10 w-10 rounded-md border border-gray-200 text-center outline-none transition-all focus:border-2 focus:border-black;
    }
}
