@import "components/header.css";
@import "components/nav.css";

/* Selections Section */
.selections {
    margin-top: 2.5rem;
}

.selections-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
    margin-block: 2rem;
}

.selections-item {
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #eee;
    height: 290px;
    border-radius: 1rem;
    overflow: hidden;
}

.selections-item__cover {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.selections-details-wrapper {
    width: 100%;
    padding-inline: 2rem;
}

.selections-info {
    margin-top: 1rem;
    gap: 1rem;
}

.selections-info__title {
    max-width: 22rem;
    height: 5.12rem;
}

.selections-info__title,
.selections-details__name,
.selections-details__time {
    font-family: var(--font-dana-demibold);
}

.selections-info__profile {
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    width: 38px;
    height: 38px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.selections-more {
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.selections-more a {
    padding: 1.5rem 3rem;
    color: var(--primary-color);
    box-shadow: inset 0 0 0 1px var(--primary-color);
    border-radius: 2rem;
    font-family: var(--font-dana-demibold);
}

/* Main */

.main {
    margin-block: 10rem;
    display: flex;
    gap: 2rem;
}

/* Article */
.article {
    width: 100%;
}

.posts {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 3rem;
}

.post {
    font-family: var(--font-byekan-v4-semibold);
    background-color: rgba(169, 169, 169, 0.23);
    padding: 2rem;
    border-radius: 1.5rem;
}

.post-author__name {
    color: black;
}

.post-category {
    color: #5e5e5e;
    font-family: var(--font-byekan-v4-semibold);
}

.post-category--header {
    display: none;
}

.post-main {
    margin-block: 2.5rem;
}

.post-main__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: min(90%, 450px);
}

.post-main__image {
    width: 100%;
}

.post-main__image > img {
    width: 100%;
    object-fit: cover;
}

.post-main__description {
    margin-top: 1.5rem;
    color: #a2a2a2;
    font-size: 1.4rem;
    font-family: var(--font-byekan-v4-regular);
    width: min(90%, 450px);
    max-height: 4.5rem;
    overflow-y: hidden;
}

.post__icon-like, .post__icon-bookmark {
    cursor: pointer;
}

/* Aside */

.aside {
    width: max(50rem, 45%);
    flex-direction: column;
    gap: 2.5rem;
    display: none;
}

.login-access {
    height: fit-content;
    position: sticky;
    top: 8rem;
    bottom: 2rem;
}

.popular, .friends, .saved {
    display: inline-block;
    height: fit-content;
    width: 100%;
    border-radius: 1.6rem;
    overflow: hidden;
}

.popular-title, .friends-title, .saved-title {
    font-family: var(--font-dana-demibold);
    gap: 1.6rem;
    padding: 1.6rem;
    background-color: var(--secondary-color);
    color: white;
}

.lists {
    display: flex;
    padding-block: 1.6rem;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 2rem;
    background-color: rgba(238, 238, 238, 0.50);
}

.author-title {
    width: 25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.popular-author__details {
    font-family: var(--font-dana-demibold);
}

.save-icon__bookmark {
    width: 4.2rem;
    height: 4.2rem;
    border: 3.5px solid rgba(162, 162, 162, 0.4);
    border-radius: 50%;
}

@media (min-width: 576px) {
    .selections-item {
        flex-direction: row;
        height: 200px;
    }

    .selections-item__cover {
        width: 20rem;
        height: 100%;
        object-fit: cover;
    }

    .selections-details-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 2.5rem;
    }

    .post-category--header {
        display: block;
    }

    .post-category--footer {
        display: none;
    }
}

@media (min-width: 768px) {
    .selections-item__cover {
        width: 20rem;
    }
}

@media (min-width: 992px) {
    .selections-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .aside {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .main {
        gap: 6rem;
    }

    .post {
        width: fit-content;
    }

    .post-main__image > img {
        width: 80%;
    }
}

@media (min-width: 1440px) {
    .selections-wrapper {
        column-gap: 7.5rem;
    }
}

@media all and (pointer: coarse) {
    .author__profile, .post__icon-like, .post__icon-bookmark {
        cursor: default;
    }
}